.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
    margin-bottom: 80px;
  }
  
  .carre-contenu h2 {
    margin-top: 30px;
  }
  
  .carre-contenu ul {
    margin-top: 30px;
  }
  
  .carre-contenu + div {
    text-align: center;
  }
  
  .a-propos-main {
    
    margin: auto;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }

table {
    
    color:white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
   
}
  td, th {
    border: 1px solid #a5b4fc;
    padding: 15px;
    
  }
  td {
    padding: 80px;
  }

  @media screen and (max-width: 996px) {

    .section-tarifs {
      display: none;
    
  }
}